
.hero {
    background-image: url('/assets/images/3.png');
    background-position: 50%;
    background-size: cover;
    min-height: 100vh;
    max-width: 100%;
    background-color: rgba(29, 61, 89, 0.28);
  }
  
  .hero img {
    width: 100%;
    animation: slide-in 1s linear forwards;
  }

  #naslov{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 3rem;
    color: #333;
    margin-bottom: 3rem;
}

  
  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .hero * {
    margin: 0;
    padding: 0;
  }
  
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(8, 17, 25, 0.28);
  }
  
  
  .hero-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 2rem;
  }
  
  .hero-nav img {
    margin-right: 1rem;
    width: 10rem;
   
  }
  
  .hero-nav ul {
    display: flex;
    list-style: none;
  }
  
  
  ul.nav-list li a {
    margin-left: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
      font-size: 1.8rem;
      color: #fff;
      text-decoration: none;
  }
  ul.nav-list li a:hover{
    color: #e4405f;
  }
  
  ul.nav-list li a.router-link-active {
    color: red;
  }
  
  
  
  .hero-content {
    position: absolute;
      top: 18rem;
      left: 12rem; 
      color: #fff;
  }
  
  .hero-content h1 {
    color: #eac9b1;
      font-family: 'Ysabeau SC', sans-serif;
      font-size: 4rem;
      line-height: 50px;
      font-weight: 700;
      animation: slideInRight 1s ease-in-out forwards;
  }
  @keyframes slideInRight {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .hamburger-menu {
    display: none; 
    color: white;
  }
  
  .hero-content p {
    color: #fff;
    letter-spacing: 4px;
    margin-top: 40px;
    font-family:'Ysabeau SC', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
  }
  .hero.expanded {
    min-height: 100vh;
    max-height: 100vh;
  
  }


  @media screen and (max-width: 480px) {
    .hero {
      background-image: none;
      min-height: 30vh;
    }
    .hero::before {
    display: none;
    }
  
    .hero-nav {
      justify-content: flex-start;
    }
    
    .hero-nav ul {
      display: none;
    }
  
    .hero-content h1, p {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
      font-size: 2rem;
      cursor: pointer;
      position: absolute;
      top: 2rem;
      right: 1rem;
    }
    
    .active {
      color: #eac9b1;
    }
  
    .nav-list {
      flex-direction: column;
      display: none;
  
    }
  
    .nav-list.show {
      display: flex !important;
      flex-direction: column;
      position: absolute;
      top: 7rem; 
      left: 0;
      right: 0;
      padding: 1rem;
    }
  
    .nav-list li {
      margin-top: 1rem;
      border: 1px solid  rgba(29, 61, 89, 0.28);
      text-align: center;
    }
    .nav-list li:hover {
      background-color: #e4405f;
     
    }
    ul.nav-list li a:hover{
      color: #fff;
    }
  }
  
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .hero {
      background-image: none;
      min-height: 30vh;
    }
    .hero::before {
    display: none;
    }
    
    .hero-nav {
      justify-content: flex-start;
    }
    
    .hero-nav ul {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
    }
    
    .hero-content h1, p {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
      font-size: 2rem;
      cursor: pointer;
      position: absolute;
      top: 2rem;
      right: 1rem;
    }
    
    .nav-list {
      display: none;
    }
    
    .active {
      color: #eac9b1;
    }
  
    .nav-list {
      flex-direction: column;
      display: none;
  
    }
  
    .nav-list.show {
      display: flex !important;
      flex-direction: column;
      position: absolute;
      top: 7rem; 
      left: 0;
      right: 0;
      padding: 1rem;
    }
  
    .nav-list li {
      margin-top: 1rem;
      border: 1px solid  rgba(29, 61, 89, 0.28);
      text-align: center;
  
    }
    .nav-list li:hover {
      background-color: #e4405f;
     
    }
    ul.nav-list li a:hover{
      color: #fff;
    }
  }
  
  
  @media screen and (min-width: 769px) and (max-width: 980px) {
   
    
    .hero-nav {
      justify-content: flex-start;
    }
    
    .hero-nav ul {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
    }
    
    .hero-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 90%;
    }
    
    .hero-content h1 {
      display: none;
      font-size: 4rem;
      line-height: 4.5rem;
      margin-top: 4rem;
      color: #eac9b1;
    }
  
    .hero-content p {
    display: none;
    }
    
    .hamburger-menu {
      display: block;
      font-size: 2rem;
      cursor: pointer;
      position: absolute;
      top: 2rem;
      right: 1rem;
    }
    
    
    .nav-list {
      display: none;
    }
    
    .active {
      color: #eac9b1;
    }
  
    .nav-list {
      flex-direction: column;
      display: none;
  
    }
  
    .nav-list.show {
      display: flex !important;
      flex-direction: column;
      position: absolute;
      top: 7rem; 
      left: 0;
      right: 0;
      padding: 1rem;
  
    
    }
  
    .nav-list li {
      margin-top: 1rem;
      border: 1px solid  rgba(29, 61, 89, 0.28);
      text-align: center;
  
    }
    .nav-list li:hover {
      background-color: #e4405f;
     
    }
    ul.nav-list li a:hover{
      color: #fff;
    }
  }


  .projekti-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .projekat-thumbnail {
    flex-basis: 33.33%;
    padding: 0.625rem;
    box-sizing: border-box;
    text-align: center;
  }
  
  .projekat-thumbnail img {

    width: 100%;
    height: auto;
    margin-bottom: 0.625rem;
  }
  
  .projekat-thumbnail h3 {
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .projekat-thumbnail button {
    background-color: #e4405f;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .projekat-thumbnail button:hover {
    background-color: #d6284d;
  }
  

  /*prikaz*/

  .projekat-overlay {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .projekat-overlay-content {
    position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 1.25rem;
  }
  
.projekat-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 9999;
}

  
  
  
  .projekat-slider {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .projekat-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

 
  }
  .projekat-slider.animate .projekat-slide {
    transform: translateX(0);
  }
  
  .projekat-slider.animate .projekat-slide.active {
    transform: translateX(100%);
  }
  
  .projekat-slide img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0.625rem;
  }
  
  .projekat-prev,
  .projekat-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.875rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    user-select: none;
    padding: 0.625rem;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .projekat-prev {
    left: 0.625rem;
  }
  
  .projekat-next {
    right: 0.625rem;
  }
  

  @media screen and (max-width: 480px) {
    .projekti-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
    }
    
    .projekat-thumbnail {
      flex-basis: 100%;
      padding: 0.625rem;
      box-sizing: border-box;
      text-align: center;
    }
    
    .projekat-thumbnail img {
      width: 100%;
      height: auto;
      margin-bottom: 0.625rem;
    }
    
    .projekat-thumbnail h3 {
      font-family: 'Ysabeau SC', sans-serif;
      font-size: 1.5rem;
      margin-bottom: 5px;
    }
    
 
    
   
    
  }
  
  @media (min-width: 481px) and (max-width: 768px) {
    .projekti-container {
      flex-direction: column;
    }
    
    .projekat-thumbnail {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
  }
  
  @media (min-width: 769px) and (max-width: 980px) {
    .projekti-container {
      flex-wrap: wrap;
    }
    
    .projekat-thumbnail {
      flex-basis: 50%;
      padding: 10px;
    }
  }
  

  .to-top-button {
    position: fixed;
    bottom: 1.875rem;
    right: 1.875rem;
    background-color: #e4405f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1.5rem;
  }
  
  .to-top-button.show {
    opacity: 1;
  }
  