<footer>
    <div class="footer-row">
      <div class="footer-column">
        <!-- Kolona za logo -->
        <img src="/assets/images/logora.png" (click)="navigateToHome()" alt="Logo">
      </div>
  
      <div class="footer-column">
        <!-- Kolona za social media -->
        <h4>Social Media</h4>
        <div class="social-media">
          <a href="https://www.instagram.com/redarch_studio/?fbclid=IwAR0fje1VWyafTajJ1xp6_ZVW0doc03uNjdE2gA5od5_8KEiMx__ZS7jBJRg" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.behance.net/redarchstudio" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-behance"></i>
          </a>
        </div>
      </div>
  
     
  
      <div class="footer-column">
        <!-- Kolona za quick links -->
        <h4>Quick Links</h4>
        <ul>
          <li><a href="/pocetna">Početna</a></li>
          <li><a href="/usluge">Usluge</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/o-nama">O nama</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
        </ul>
      </div>
     
      <div class="footer-column">
        <!-- Kolona za partnere -->
        <h4>Partneri</h4>
        <ul>
          <li>Archi-Lab d.o.o</li>
          
        </ul>
      </div>
  
  
      <div class="footer-column">
        <!-- Kolona za kontakt/adresu -->
        <h4>Kontakt / Adresa</h4>
        <p>E-mail: studio.rarh@gmail.com<br>Adresa: Marijane Gregora <br> prvi
          prolaz 4/9, Beograd, Srbija <br> Telefon: +381658159646</p>
      </div>
  
     
    
      
    </div>
  </footer>
